
venv/
node_modules
uploads/
# Ignore all Python byte‐compile caches
# Ignore any __pycache__ directory under backend (including nested ones)
__pycache__/
modules/**/__pycache__/
.env
backend\.env
C:\Users\tavis\Desktop\LeetEase\backend\.env
backend/.env
.env