/* easy = green */
.row-easy {
  background-color: #e6ffed;
}

/* medium = yellow */
.row-medium {
  background-color: #fffbe6;
}

/* hard = red */
.row-hard {
  background-color: #ffe6e6;
}

/* solved but no difficulty = blue */
.row-solved {
  background-color: #e6f0ff;
}
